:root{
  --dark: #16191c;
  --dark-x: #1e2126;
  --light: #ffffff;
  --color-text: #ccc;
  --secondary-color: #19B3D3;
}
html, body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  height: calc(100% - 65px)
}
.form-group{
  margin-bottom: 20px
}
.form-group label{
  margin-bottom: 5px
}
 /* LOGIN */
 #login{
  color: var(--light)
}
.bg-dark{
  background-color: var(--dark) !important
}
.bg-dark-x{
  color: var(--light);
  background-color: var(--dark-x)
}
#login .form-control, #login .btn{
  min-height: 3.125rem;
  line-height: initial
}
.btn-social:first-child{
  margin-right: 20px
}
.btn-social:last-child{
  margin-left: 20px
}
.img-1{
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center
}
.img-2{
  background-image: url(../img/foto2.jpg);
  background-size: cover;
  background-position: center
}
.img-3{
  background-image: url(../img/foto3.jpg);
  background-size: cover;
  background-position: center
}

/* HEADER */
header{
  z-index: 1;
  position: fixed;
  background: var(--dark);
  padding: 0px 30px;
  width: calc(100% - 0%);
  top: 0;
  height: 65px;
  box-sizing: content-box
}
.area-center h3{
  color: var(--light);
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900
}
.area-center span{
  color: var(--secondary-color)
}
.logout-icon{
  z-index: 1;
  color: var(--light);
  cursor: pointer;
  font-size: 20px;
  margin: 20px 30px;
  transition: 0.5s;
  transition-property: color
}
.logout-icon:hover{
  color: var(--secondary-color)
}

/* MENÚ */
.sidebar{
  z-index: 1;
  top: 0;
  background: var(--dark-x);
  margin-top: 65px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 55px);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto
}
.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px
}
.sidebar .profile_info h4{
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 20px
}
.sidebar .style-menu{
  color: var(--light);
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background
}
.sidebar .style-menu span{
  font-size: 15px
}
.sidebar .style-menu i{
  font-size: 15px
}
.sidebar .active-parent:hover{
  background: var(--light);
  color: var(--secondary-color);
  margin-left: -60px;
  padding-left: 60px;
  cursor: pointer
}
.submenu{
  padding-left: 40px;
  display: none
}
.sidebar .parent:hover > .submenu{
  display: block
}
.sidebar .children:hover > .active-children{
  background: var(--light);
  margin-left: -120px;
  padding-left: 120px;
  cursor: pointer
}
.sidebar .active-children:hover > a{
  color: var(--secondary-color) !important
}
.sidebar i{
  padding-right: 10px
}
.sidebar a{
  text-decoration: none;
  color: var(--light)
}
label #sidebar_btn{
  z-index: 1;
  color: var(--light);
  position: fixed;
  cursor: pointer;
  font-size: 20px;
  margin: 4px 0;
  transition: 0.5s;
  transition-property: color
}
label #sidebar_btn:hover{
  color: var(--secondary-color)
}
.sidebar-movil{
  display: none
}
.content .card p{
  background: var(--light);
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8
}
.area-center{
  padding-top: 17px
}

 /* MENÚ CONTRAIDO */
#check:checked ~ .sidebar{
  left: -185px
}
#check:checked ~ .sidebar a span{
  display: none
}
#check:checked ~ .sidebar a{
  font-size: 15px;
  margin-left: 165px;
  width: 100%
}
.content{
  width: calc(100% - 250px);
  margin-top: 60px;
  padding: 20px 40px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: 0.5s;
  overflow-y: auto
}
#check:checked ~ .content{
  margin-left: 60px
}
#check:checked ~ .sidebar .profile_info{
  margin-left: 184px
}
#check:checked ~ .sidebar .profile_info .profile_image{
  width: 45px;
  height: 45px
}
#check:checked ~ .sidebar .profile_info h4{
  display: none
}
#check{
  display: none
}
#check:checked ~ .sidebar .style-menu{
  font-size: 20px;
  margin-left: 165px;
  width: 100%
}
#check:checked ~ .sidebar .style-menu span{
  display: none
}
#check:checked ~ .content{
  width: calc(100% - 60px)
}
#check:checked ~ .sidebar .style-menu .submenu{
  z-index: 1;
  background: red;
  position: fixed;
  padding: 0px;
  margin-left: 45px;
  width: 200px;
  margin-top: -60px
}
#check:checked ~ .sidebar .style-menu .submenu{
  z-index: 1;
  background: var(--dark-x);
  position: fixed;
  padding: 0px;
  margin-left: 45px;
  width: 200px;
  margin-top: -60px
}
#check:checked ~ .sidebar .style-menu .submenu a{
  margin-left: 20px
}
#check:checked ~ .sidebar .style-menu .submenu span{
  display: inline-block
}
#check:checked ~ .sidebar .style-menu .submenu .active-children{
  padding-left: 0px
}
#check:checked ~ .sidebar .children:hover > .active-children{
  margin-left: 0px
}

/* Responsive CSS */

/************************ USUARIOS ********************/
#content_image_profile{
  height: 200px
}
#content_image_profile img{
  width: 100%;
  height: 100%
}
@supports(object-fit: cover){
  #content_image_profile img{
    height: 100%;
    object-fit: cover;
    object-position: center center
  }
}
.buttons-user{
  margin-top: 50px !important
}
#select_images{
  background: #5A738E;
  width: 200px;
  height: 30px;
  padding-top: 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  margin: auto
}
#screen_cam{
  background: #ed8323;
  width: 200px;
  height: 30px;
  padding-top: 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  margin: auto
}
.modal-cam{
  max-width: 90% !important
}
.modal-content-cam{
  flex-direction: row !important
}
.toils{
  position: relative;
  background: rgba(0,0,0,0.4);
  width: 40px;
  height: 200px;
  top: -200px;
  right: 0;
  margin-right: 15px
}
.toils-user{
  position: relative;
  background: rgba(0,0,0,0.4);
  width: 40px;
  height: 200px;
  top: -200px;
  right: 0;
  margin-right: 10px
}
.delete-image{
  font-size: 20px;
  color: white;
  margin-top: 65px;
  margin-left: 10px
}
.img-preview{
  font-size: 20px;
  color: white;
  margin-top: 40px;
  margin-left: 10px
}
.delete-image-edit{
  font-size: 20px;
  color: white;
  margin-top: 65px;
  margin-left: 10px
}

/* PRODUCTOS */
#content_images{
  height: 200px;
  border: 1px solid #EDEDED;
  border-radius: 20px;
  max-width: 100%;
  padding: 20px;
  overflow-y: auto
}
#select_images{
  background: #5A738E;
  width: 200px;
  height: 30px;
  padding-top: 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  margin: auto
}
.upload{
  height: 200px
}
.img-upload{
  height: 200px
}
.img-upload img{
  width: 100%;
  height: 100%
}
@supports(object-fit: cover){
  .img-upload img{
      height: 100%;
      object-fit: cover;
      object-position: center center
  }
}
.toils{
  position: relative;
  background: rgba(0,0,0,0.4);
  width: 40px;
  height: 200px;
  top: -200px;
  right: 0;
  margin-right: 15px
}
.border-invalidate{
  border: 1px solid #dc3545 !important
}
@media screen and (max-width: 780px){
  html,body{
    height: 100%
  }
  .sidebar{
    display: none
  }
  .sidebar-movil{
    display: none;
    background-color: var(--dark-x);
    width: 250px;
    height: calc(100% - 60px);
    position: fixed;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto
  }
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px
  }
  .sidebar-movil .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px
  }
  .sidebar-movil .profile_info h4{
    color: var(--color-text);
    margin-top: 0;
    margin-bottom: 20px
  }
  .sidebar-movil .style-menu{
    color: var(--light);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background
  }
  .sidebar-movil .active-parent:hover{
    background: var(--light);
    color: var(--secondary-color);
    margin-left: -60px;
    padding-left: 60px;
    cursor: pointer
  }
  .submenu{
    padding-left: 40px;
    display: none
  }
  .sidebar-movil .parent:hover > .submenu{
    display: block
  }
  .sidebar-movil .children:hover > .active-children{
    background: var(--light);
    margin-left: -120px;
    padding-left: 120px;
    cursor: pointer
  }
  .sidebar-movil .active-children:hover > a{
    color: var(--secondary-color) !important
  }
  .sidebar-movil i{
    padding-right: 10px
  }
  .sidebar-movil a{
    text-decoration: none;
    color: var(--light)
  }
  label #sidebar_btn{
    z-index: 1;
    color: var(--light);
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    margin: 4px 0;
    transition: 0.5s;
    transition-property: color
  }
  label #sidebar_btn:hover{
    color: var(--secondary-color)
  }
  #check:checked ~ .sidebar-movil{
    display: block
  }
  .content{
    width: 100%;
    margin-left: 0px;
    padding: 10px 20px
  }
  #check:checked ~ .content{
    width: 100%;
    margin-left: 0px
  }
  .buttons-forms{
    margin-top: 40px !important
  }
}